{% extends "base.html" %}
{% block content %}
<h3>Информация по ребёнку: Иван Иванов</h3>
<h5>Задания</h5>
<table class="table table-bordered bg-white">
  <thead>
    <tr><th>Предмет</th><th>Задание</th><th>Срок</th><th>Статус</th></tr>
  </thead>
  <tbody>
    <tr><td>Русский</td><td>Сочинение</td><td>16.07</td><td>🟡</td></tr>
    <tr><td>Физика</td><td>Практика №3</td><td>17.07</td><td>🟢</td></tr>
  </tbody>
</table>

<h5 class="mt-4">Документы</h5>
<form method="post">
  <label>Заказать справку:</label>
  <select class="form-select mb-3">
    <option>Об обучении</option>
    <option>О составе семьи</option>
  </select>
  <button class="btn btn-primary">Отправить запрос</button>
</form>
{% endblock %} 