{% extends "base.html" %}
{% block content %}
<h3>KPI-дашборд</h3>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Всего заметок</h5>
        <p class="card-text display-6">{{ kpi.total_notes }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">% выполненных поручений</h5>
        <p class="card-text display-6">{{ kpi.done_tickets }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 