# Секреты и приватные ключи
.env
credentials.json
drive_bot_final/.env
drive_bot_final/credentials.json
credentials/*
*.env
*.secret
*.key
*.pem
*.p12
*.sqlite3
*.db
*.log
__pycache__/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/
ENV/

# mypy/pytest
.mypy_cache/
.pytest_cache/

# OS
.DS_Store
nohup.out

# Logs
*.log
bot.log

# Databases
*.db
*.sqlite
dump.rdb

# Pickle/token
*.pickle
token.json

# Archives
*.zip

# Secret configs
client_secret.json
payline2-*.json

# Jupyter
*.ipynb_checkpoints/

# Other
*.rdb 
.env.test drive_bot_final/ru_core_news_lg-3.8.0-py3-none-any.whl
