aiogram==3.1.1
aiofiles==23.1.0
aiohttp==3.8.5
asyncio-throttle==1.0.2
google-api-python-client==2.108.0
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.1
pydantic==2.3.0
pydantic-settings==2.2.1
python-dotenv==1.0.1
rapidfuzz==3.6.1
PyMuPDF==1.24.1
pytesseract==0.3.10
Pillow>=10.2.0
tenacity==8.2.2
python-docx
pytesseract
Pillow
httpx
PyMuPDF